.babyNames {
  padding: 10px;
  margin:20px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  
}
.App-header {
  margin: 20px;
  text-align: center;
  font-size: 30px;
}
.input {
  width: 350px;
  height: 35px;
  border: 2px solid black;
}
.input_line {
display: flex;
align-items: center;
padding: 20px;
}
.input_title {
  font-size: 20px;
}
.favourites {
  font-size: 25px;
  margin: 20px;
}
.App-logo {
  width: 25%;
}
.boy {
color: blue;
padding: 5px;
background-color: lightblue;
border-radius: 5px;
margin: 5px;
}
.girl {
color: palevioletred;
padding: 5px;
background-color: lightpink;
border-radius: 5px;
margin: 5px;
}

.radio_btn input[type="radio"] {
  display: none;
}
.radio_btn label {
  padding: 5px;
  display: inline-block;
  cursor: pointer;
  display: flex;
  user-select: none;
}
/* Checked */
.radio_btn input[type="radio"]:checked + label {
  background: lightgrey;
}
/* Hover */
.radio_btn label:hover {
  color: #666;
} 
