
.babyNames {
  
  padding: 10px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  
}
.www {
  width: auto;
  border: 5px solid green;

}
.App-logo {
  width: 25%;
}
.boy {
color: blue;
padding: 5px;
background-color: lightblue;
border-radius: 5px;
margin: 5px;
}
.girl {
color: palevioletred;
background-color: lightpink;
border-radius: 5px;
margin: 5px;
}